[user]
	name = Spencer Gilbert
	email = spencer.gilbert@gmail.com
	signingkey = 0xDD16377166453942
[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
        ui = true
[color "status"]
	added = green
        changed = yellow
	untracked = red
[core]
	excludesfile = ~/.gitignore_global
	pager = delta --theme=1337
[interactive]
	diffFilter = delta --color-only
[gpg]
	program = gpg
[commit]
	gpgsign = true
